LAB-2/createTicket_msgflow.json
[{"id":"3927dbe.ee90724","type":"tab","label":"createTicket","disabled":false,"info":"Create Ticket From customer in backend system"},{"id":"e3abe3a8.87052","type":"function","z":"3927dbe.ee90724","name":"PrepareResponse","func":"\n/**\n * This is response from DB\n \n {\n  \"ok\": true,\n  \"id\": \"8304d3604799923e2354dce9ad717a65\",\n  \"rev\": \"1-fbe28ab8c7c37462c34c241cce4f6f6d\"\n}\n\n*/\n\n\nvar logid='PREPARE_HTTP_RESPONSE: ';\nnode.log(logid + 'Prepare http response');\nvar v_dbres = msg.payload ;\n\nvar v_hres = {} ;\nv_hres.ticketnum = v_dbres.id\nv_hres.ticketdt = '01.01.2019 23:12:15'\nv_hres.ticketmsg = 'Ваша заявка прийнята та зараэстрована';\nmsg.payload = v_hres;\nmsg.statusCode=201;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":220,"wires":[["851a8539.d2f818","9ec51875.cd148"]]},{"id":"555ae0b9.058118","type":"http in","z":"3927dbe.ee90724","name":"Create.Ticket.Input","url":"/crtticket","method":"post","upload":false,"swaggerDoc":"","x":130,"y":40,"wires":[["ca7484f5.b2856","e1e3821c.1fe208"]]},{"id":"851a8539.d2f818","type":"http response","z":"3927dbe.ee90724","name":"CreateTicket.Response","statusCode":"","headers":{},"x":1050,"y":40,"wires":[]},{"id":"ca7484f5.b2856","type":"function","z":"3927dbe.ee90724","name":"Store.Into.FlowContext","func":"//Set the Application ID to be used to retrieve an exception message.\n\nvar logid='STOREFLOWCONEXT: ';\nnode.log(logid + 'Store Flow Context');\nflow.set(\"req\", msg.req);\nflow.set(\"res\", msg.res);\nflow.set(\"payload\", msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":40,"wires":[["92e5b05e.e6c8b8","aef94fa0.30d768"]]},{"id":"e1e3821c.1fe208","type":"debug","z":"3927dbe.ee90724","name":"Dbg.P-1","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":110,"y":80,"wires":[]},{"id":"92e5b05e.e6c8b8","type":"debug","z":"3927dbe.ee90724","name":"Dbg.P-2","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":80,"wires":[]},{"id":"9ec51875.cd148","type":"debug","z":"3927dbe.ee90724","name":"Dbg.P-3","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":830,"y":280,"wires":[]},{"id":"19ef4d92.e79752","type":"function","z":"3927dbe.ee90724","name":"DB.Prepare.Request","func":"\nvar logid='PREPARE_DB_REQUEST: ';\nnode.log(logid + 'Prepare request to DB');\n\n\n\n\nvar dbmsg= {\n            \"TAG\": \"X$TICKET\",\n            \"tikUserName\": msg.payload.tikUserName,\n            \"tikUserAddress\": msg.payload.tikUserAddress,\n            \"ticUserMessage\": msg.payload.tikUserMessage,\n            \"tikIdttm\": \"01.01.2020 12:30:45\",\n            \"tikIdt\": \"01.01.2020\",\n            \"accAmount\": 0,\n            \"tiktType\": msg.payload.tikType\n        };\n\nmsg.payload = dbmsg ;\nnode.log(logid + 'Request to DB is =' + JSON.stringify(msg.payload) );\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["b600fc4c.c68db","621ecfe9.8d74"]]},{"id":"b600fc4c.c68db","type":"cloudantplus out","z":"3927dbe.ee90724","name":"DB.Create.Ticket","cloudant":"","database":"tic-db","service":"node-red-yutul-2021--cloudant-1610573297491-28987","payonly":true,"operation":"insert","x":610,"y":220,"wires":[["e3abe3a8.87052","d0a91d06.bfb5c8"]]},{"id":"621ecfe9.8d74","type":"debug","z":"3927dbe.ee90724","name":"Dbg.P-4","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":280,"wires":[]},{"id":"d0a91d06.bfb5c8","type":"debug","z":"3927dbe.ee90724","name":"Dbg.P-5","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":610,"y":280,"wires":[]},{"id":"5b935b7e.b22944","type":"catch","z":"3927dbe.ee90724","name":"Catch.All","scope":null,"uncaught":false,"x":360,"y":340,"wires":[["514403f.db344fc","6a6b7d0b.82249c"]]},{"id":"514403f.db344fc","type":"debug","z":"3927dbe.ee90724","name":"Dbg.P-6","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":370,"y":380,"wires":[]},{"id":"6a6b7d0b.82249c","type":"function","z":"3927dbe.ee90724","name":"PrepareErrorResponse","func":"\nvar lerr = msg.error;\nmsg.payload = {} ;\n\nif ( lerr === null ) {\n\n    msg.payload.statusCode=500; \n    msg.payload.message = 'Error object id not defined';\n    msg.payload.source = { id: 'xx', type: 'xx', name: 'xx', count: 0}  ;    \n} else {\n    msg.payload.statusCode=500; \n    msg.payload.message = lerr.message;\n    msg.payload.source = lerr.source ;\n    \n}\n\nmsg.statusCode=500;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["488ec4f7.4f1fd4","5b1f1307.d2347c"]]},{"id":"488ec4f7.4f1fd4","type":"debug","z":"3927dbe.ee90724","name":"Dbg.P-7","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":650,"y":380,"wires":[]},{"id":"5b1f1307.d2347c","type":"function","z":"3927dbe.ee90724","name":"Restore.From.FlowContext","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":340,"wires":[["87fc7968.93a5c","851a8539.d2f818"]]},{"id":"87fc7968.93a5c","type":"debug","z":"3927dbe.ee90724","name":"Dbg.P-8","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":950,"y":380,"wires":[]},{"id":"aef94fa0.30d768","type":"function","z":"3927dbe.ee90724","name":"Check.InputMessage","func":"/** \n * 1. Transform input  message into object\n * 2. Check input message by fields\n*/\n\nvar oerrmsg = '';\n//node.log('====msg.payload='+msg.payload);\n//var omsg = JSON.parse( msg.payload );\nvar omsg = msg.payload ;\n//node.log( '======omsg=' + JSON.stringify(omsg) );\n\nmsg.payload = omsg ;\n\nif (  typeof omsg.tikUserName === 'undefined' ) {\n    oerrmsg = 'UserName must be filled '; \n    throw new Error( oerrmsg );\n}\n\n\n\nif ( typeof omsg.tikUserAddress === 'undefined'  ) {\n    oerrmsg = 'serAddress must be filled'; \n    throw new Error( oerrmsg );\n}\n\nif ( omsg.tikType !== 'ISSUE' ) {\n    oerrmsg = 'Type must be \"ISSUE\" !'; \n    throw new Error( oerrmsg );\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":40,"wires":[["19ef4d92.e79752"]]}]