LAB-2/srvcAliveTest_msgflow.json
[{"id":"8a3125cf.d723f8","type":"tab","label":"SrvcAliveTest","disabled":false,"info":"Get запрос проверить, что сервер живой"},{"id":"8269cedb.928868","type":"http response","z":"8a3125cf.d723f8","name":"httpResponse","statusCode":"200","headers":{},"x":520,"y":640,"wires":[]},{"id":"7c9f3558.6d3264","type":"http in","z":"8a3125cf.d723f8","name":"httpPingsrvcReq","url":"/pingsrvc","method":"get","upload":false,"swaggerDoc":"","x":80,"y":600,"wires":[["886c5eb2.7781e8","c68fc817.06cea"]]},{"id":"886c5eb2.7781e8","type":"function","z":"8a3125cf.d723f8","name":"PreparePingResponse","func":"\nmsg.payload = {\n  text: \"HI\",\n  details: \"I am Alive!\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":660,"wires":[["8269cedb.928868","5564984d.0fda6"]]},{"id":"c68fc817.06cea","type":"debug","z":"8a3125cf.d723f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":120,"y":720,"wires":[]},{"id":"5564984d.0fda6","type":"debug","z":"8a3125cf.d723f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":740,"wires":[]}]